<div id="<%= dom_id dentistum %>">
  <p>
    <strong>Nome:</strong>
    <%= dentistum.nome %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= dentistum.telefone %>
  </p>

  <p>
    <strong>Cro:</strong>
    <%= dentistum.CRO %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= dentistum.cpf %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= dentistum.especialidade %>
  </p>

  <p>
    <strong>Horário:</strong>
    <%= dentistum.horario_inicio %>
  </p>

  <p>
    <strong>Horário:</strong>
    <%= dentistum.horario_fim %>
  </p>

</div>
