<div id="<%= dom_id dentistum %>">
  <p>
    <strong>Nome:</strong>
    <%= dentistum.nome %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= dentistum.telefone %>
  </p>

  <p>
    <strong>Cro:</strong>
    <%= dentistum.CRO %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= dentistum.cpf %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= dentistum.especialidade %>
  </p>

  <p>
    <strong>Horário Inicio:</strong>
    <%= dentistum.horario_inicio.strftime("%H:%M") %>
  </p>

  <p>
    <strong>Horário Fim:</strong>
    <%= dentistum.horario_fim.strftime("%H:%M") %>
  </p>

</div>
