<%= form_with(model: dentistum) do |form| %>
  <% if dentistum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dentistum.errors.count, "error") %> prohibited this dentistum from being saved:</h2>

      <ul>
        <% dentistum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.label :CRO, style: "display: block" %>
    <%= form.text_field :CRO %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
