<%= form_with(model: dentistum) do |form| %>
  <% if dentistum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dentistum.errors.count, "error") %> prohibited this dentistum from being saved:</h2>

      <ul>
        <% dentistum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :nome %>
    <%= form.text_field :nome,class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :CRO %>
    <%= form.text_field :CRO, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :especialidade %>
    <%= form.text_field :especialidade, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :horario_inicio %>
    <%= form.select(:horario_inicio,consultar_horarios('inicio'), class:"form-control")%>
  </div>

  <div class="field">
    <%= form.label :horario_fim %>
    <%= form.select(:horario_fim, consultar_horarios('fim'), class:"form-control")%>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
