<p style="color: green"><%= notice %></p>

<%= render @admin %>

<div>
  <%= link_to "Edit this admin", edit_admin_path(@admin) %> |
  <%= link_to "Back to admins", admins_path %>

  <%unless @admin.email == "admin@admin.com"%>
    <%= button_to "Destroy this admin", @admin, method: :delete %>
  <%end%>

</div>
