
<div  class="container col-md-6" style="background-color: #FFFFFF; padding: 16px;">
  <div  class="row justify-content-center align-items-center">
    <div  class="col-md-8 text-center">
      <%= image_tag 'logo.jpg' , class:"figure-img img-fluid rounded" , style: "display: block;  margin-left: auto;  margin-right: auto;  width: 50%;"%>
      <h2>Cadastrar</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "admins/shared/error_messages", resource: resource %>

        <div>
          <%= f.label :nome %><br />
          <%= f.text_field :nome, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label "Senha" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>


