
<div  class="container col-md-6" style="background-color: #FFFFFF; padding: 16px;">
  <div  class="row justify-content-center align-items-center">
    <div  class="col-md-8 text-center">
      <%= image_tag 'logo.jpg' , class:"figure-img img-fluid rounded" , style: "display: block;  margin-left: auto;  margin-right: auto;  width: 50%;"%>
      <h3>Login Paciente</h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label "Senha" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "pacientes/shared/links" %>
    </div>
  </div>
</div>


