<%= form_with(model: consultum) do |form| %>
  <% if consultum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
        <% consultum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label "Dentista:", style: "display: block"%>
    <%= form.select :dentistum_id, options_for_select(Dentistum.all.map { |dentistum| ["#{dentistum.nome} - #{dentistum.especialidade} | #{dentistum.horario_inicio.hour}h as #{dentistum.horario_fim.hour}h", dentistum.id] }), include_blank: true, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "Paciente:", style: "display: block" %>
    <%= form.select :paciente_id, options_for_select(Paciente.all.map { |paciente| [paciente.nome, paciente.id] }, consultum.paciente_id), include_blank: true %>
  </div>

  <div class="form-group">
    <%= form.label "Data e hora da Consulta:", style: "display: block" %>
    <%= form.datetime_select :data_hora, start_hour: 7, end_hour: 17, :minute_step => 30, order: [:day, :month, :year] %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
