<!DOCTYPE html>
<html>
  <head>
    <title>OdontoES</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body style="background-color: #EFEFEF;">
  <% if admin_signed_in? %>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <%= image_tag("logo.jpg", width: '50px') %>
      </a>
    </nav>
  <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
